@model IEnumerable<office.life.Models.Phone>
@{
    ViewData["Title"] = "Каталог товаров";
}
<h3>Смартфоны</h3>
<div class="container">
    <div class="row table-header">
        <div class="col">Модель</div>
        <div class="col">Производитель</div>
        <div class="col">Цена</div>
        <div class="col"></div>
    </div>
    <hr />
    @foreach (var phone in Model)
            {
        <div class="row">
            <div class="col">@phone.Name</div>
            <div class="col">@phone.Company</div>
            <div class="col">@phone.Price</div>
            <div class="col"><a href="~/Home/Buy/@phone.Id">Купить ></a></div>
        </div>
    }
</div>